.container
  width: 85%
  max-width: 1256px
  margin: auto
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  flex-basis: 31.66%
  &-40
    width: 40%
  &-55
    width: 55%
