@media screen and ( max-width: 1410px  )
  .logo 
    margin-right: 0
  .contacts
    &__phone
      margin-left: 0
@media screen and ( max-width: 1274px  )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .menu
    margin-left: 0
@media screen and ( max-width: 998px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .menu
    margin-left: 0
  .contacts
    &__phone
      margin-left: 0
    &__button
      margin-right: 0
@media screen and ( max-width: 991px  )
  .button
    &:hover
      cursor: default
    &--primary
      &:hover
        background-color: $primary
        color: $light
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
        border: 1px solid $primary
    &--outline
      &:hover
        border: 1px solid $light
        background-color: transparent
        color: $light
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 6.28rem
  .design
    background-color: $dark
    &__card
      margin-bottom: 6.28rem
    &__section-title
      color: $light
      margin-bottom: 2.1rem
  .card
    &__text
      margin-left: 0
@media screen and ( max-width: 570px  )
  .contacts
    &__phone
      margin-right: 0
      margin-left: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
      font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-width: 569px )
  .hero
    &__content
      max-width: 37rem
    &__text
      font-size: 1.8rem
      margin-bottom: 2.28rem
    &__button
      width: 100%
  .title
      font-size: 2.64rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 375px  )
  .header
    padding: 22px 0
    & .container
      margin: 0 18px
  .menu
    min-width: 340px
  .hero
    display: block
    &__content
      margin-top: 40px
      margin-left: -10px
      max-width: 26.7rem
    &__text
      font-size: 1.5rem
      margin-bottom: 2.7rem  
      line-height: 135.84%
    &__button
      font-size: 1.1rem
      display: block
      min-width: 28rem
      margin-bottom: 1.85rem
  .title
      font-size: 1.9rem
  .section-title__heading
    font-size: 1.84rem
  .types
    &__section-title
      margin-bottom: 3.5rem
    &__card
      width: 340px
  .card
    &__image
      height: 365px
    &__title
      font-family: 'Yeseva One', cursive
      font-size: 1.24rem
      margin-left: 0.55rem
    &__text
      max-width: 22.5rem
      margin-top: -12.3rem
    &__list
      padding: 0 0 0 1.7rem
      margin-bottom: 1.8rem
      line-height: 1.9rem
    &__pricetag
      bottom: -1.49rem
      padding: 0.914rem 2.7rem
  .section-title
    &__text
      max-width: 24.85rem
      font-size: 1.25rem
      line-height: 135.84%
  .design
    &__card
      width: 340px
      margin-bottom: 6.68rem
    .card
      &__title
        font-size: 1.22rem
        line-height: 138.6%
        margin-top: 1px;
        margin-bottom: 0.45rem;
        margin-left: 0.55rem;
      &__text
        padding: 1.74rem 2.2rem
      &__list
        padding: 0 0 0 1.8rem
      &__pricetag
        padding: 0.914rem 3.7rem 0.914rem 3.8rem
        box-shadow: 5px 5px 10px rgba($primary, 0.3)
      &__item:nth-child(n+8)
        display: none
      &__item--seven:nth-child(7)::after
        content: '...'  
  .scroll-up
    opacity: 0
    visibility: hidden
@media screen and ( max-width: 361px  )
  .header
    padding: 20px 0
    & .container
      margin: 0 10px
  .menu
    display: flex
    flex-direction: column
    align-items: flex-start
  .hero
    &__button
      font-size: 1.1rem
      display: block
      min-width: 100%
      margin-bottom: 1.85rem
  .card
    &__image
      padding: 0 2.5rem
    &__text
      margin-left: auto
