.steps
  padding-top: 35.3rem
  padding-bottom: 30.8rem
  margin-left: -0.4rem
  background: $dark url(../img/line.png) no-repeat center
  background-size: cover
  &__section-title
    margin-top: -5.8rem
    margin-bottom: 6.242rem
    &--up
      text-transform: uppercase
      font-family: 'Futura Demi'
      font-size: 1.05rem
      line-height: 1.5rem
  &-title__heading
    font-size: 2.2rem 
  &__menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 1.7rem
    margin-bottom: 0.8rem
    max-width: 55rem
    &-item
      min-width: 7rem
      cursor: pointer
      opacity: 0.3
      margin-right: 5rem
      margin-bottom: 3rem
      &:nth-child(2)
        margin-right: 8rem        
      &:nth-child(3)
        margin-right: 0rem
      &:nth-child(4)
        margin-right: 11rem
      &:nth-child(5)
        margin-right: 11rem
      &:nth-child(6)
        margin-right: 0rem
        max-width: 7rem
    &-number
      font-family: 'Yeseva One', cursive
      font-size: 1.071rem
      border-bottom: 1px solid #e3b873
    &-text
      display: block
      margin-top: 0.914rem
      font-size: 1.071rem
      line-height: 1.285rem
      max-width: 10rem 
  &_swiper-container
    img
      width: 765px
      height: 376px
      object-fit: cover
  &__swiper-slide
    &-text
      flex-basis: 70%
      font-family: 'Futura Book'
      line-height: 1.95rem
      padding-bottom: 18px
    &-count
      font-family: 'Yeseva One', cursive
      font-size: 1.185rem
      line-height: 1.785rem
    &-heading
      font-size: 1.06rem
      margin-top: 0.871rem
      max-width: 13.42rem 

.active
  opacity: 1 
.section-title
    &__word--right
      &::after
        margin-left: 6.4rem