.team
  margin-top: -33.4rem
  &__text
    max-width: 40.685rem
    margin: auto
    margin-bottom: 4.4rem
    text-align: center
    font-size: 1.428rem
    line-height: 2.42rem
    &::before
      content: ''
      display: block
      margin: auto
      margin-bottom: 0.6rem
      width: 55px
      height: 2px
      background-color: $primary
      border-radius: 30px
  &__row
    max-width: 78.7rem 
    margin: auto
    margin-bottom: 5.58rem
  &__card
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    &-image
      max-width: 22.5rem
      min-height: 25.5rem
      margin-top: 4.4rem
    &-icon
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      width: 70px
      height: 70px
      left: 2px
      top: 1.9rem
      background-color: $primary
      box-shadow: 0px 5px 20px rgba($primary, 0.5)
    &-text
      text-align: center
      position: relative
      width: 68%
      margin: 0 auto
      margin-top: -5.8rem
      padding: 1.29rem 2rem 0.7rem
      background-color: $light
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    &-title
      font-family: 'Yeseva One', cursive
      font-size: 1.29rem
      margin-top: 2px
      margin-bottom: 0.6rem 
      margin-left: 0.25rem
    &-list
      padding: 0
      margin: 0
      margin-bottom: 2.3rem
      font-size: 1.27rem
      line-height: 1.5rem
      color: $secondary
      list-style-type: none
    &-pricetag
      position: absolute
      left: 0
      bottom: -1.79rem
      font-family: 'Yeseva One', cursive
      font-size: 0.9rem 
      text-transform: uppercase
      background-color: $primary
      color: $light
      width: 100%
      padding: 1.114rem 1.7rem
.section-title__subtitle
  &--light
    max-width: 32rem
    line-height: 1.928rem
        
      