.types
  &__section-title
    margin-bottom: 2.2rem
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  flex-basis: 31.66%
.card
  &__text
    position: relative
    max-width: 23.6rem
    margin: 0 auto
    margin-top: -9.3rem
    padding: 1.79rem 2.14rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem
    margin-top: 2px
    margin-bottom: 0.6rem 
    margin-left: 0.25rem
  &__list
    padding: 0 0 0 1.5rem
    margin: 0
    margin-bottom: 2.3rem
    font-size: 1.07rem
    line-height: 1.8rem
    color: $secondary
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.79rem
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem 
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 2.8rem
@media screen and ( max-width: 375px  )
  .section-title__heading
    font-size: 1.84rem
  .types
    &__section-title
      margin-bottom: 3.5rem
    &__card
      width: 340px
  .card
    &__text
      max-width: 22.5rem
      margin-top: -12.3rem
    &__list
      padding: 0 0 0 1.7rem
      margin-bottom: 1.8rem
      line-height: 1.9rem
    &__pricetag
      bottom: -1.49rem
      padding: 0.914rem 2.7rem
    